/* Reset padding and margin */
* {
  padding: 0;
  margin: 0;
}

/* Basic body styles */
body {
  font-family: "Inter", sans-serif;
}

/* Remove list styling */
ul {
  list-style: none;
}

/* Remove link underlines */
a {
  text-decoration: none;
}

/* Navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 3px 5px #b3b3b3;
}

.logo {
  font-size: 30px;
}

/* Horizontal navigation menu */
nav ul {
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

/* Navigation links */
nav ul a {
  color: #797979;
  transition: all 0.3s ease;
  font-size: 20px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    margin: 5px auto;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s all;
  }
}

nav ul a:hover::before {
  width: 100%;
}

nav ul a:hover {
  color: black;
}

.sign {
  background: #000;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  &:hover {
    color: #000;
    background-color: #fff;
  }
}

/* Hide checkbox and menu icon by default */
.menu-icon,
#menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* Checkbox checked styles */
#menu-toggle:checked ~ ul,
#menu-toggle:checked ~ .log ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 0;
  width: calc(100% - 40px);
  background-color: black;
  z-index: 10;
}

/* Container padding */
.container {
  padding-inline: 40px;
  width: calc(100% - 80px);
}

section {
  display: grid;
  place-items: center;
  padding-block: 60px;

  form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;

    input {
      height: 25px;
      margin-top: 30px;
      border-width: 0;
      border-width: 2px;
      border-color: transparent transparent lightgray;
      &:focus {
        outline: none;
      }
    }
    a {
      text-decoration: underline;
    }
  }
}

input[type="submit"] {
  padding: 10px;
  border-radius: 20px;
  border-width: 0;
  font-weight: 600;
  font-size: medium;
  color: #000;
  margin-block: 40px;
  cursor: pointer;
  height: 35px;
  width: 100px;
}

/* Media query for small screens */

@media (max-width: 768px) {
  .container {
    padding-inline: 20px;
    width: calc(100% - 40px);
  }

  /* Show the menu icon on small screens */
  .menu-icon {
    display: block;
  }

  nav ul {
    padding: 20px;
    display: none;
    li {
      padding-block: 10px;

      a {
        padding: 10px 15px;
        border-radius: 5px;

        &:hover {
          background-color: white;
          color: #000;
        }
      }
    }
  }
  nav ul a {
    color: #fff;
  }

  section {
    form {
      width: 250px;
      padding: 10px;
    }
  }
}

footer {
  margin-top: 40px;
  padding-block: 20px;
  font-size: 28px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  bottom: 0;
  position: absolute;
  width: 100%;
}

@media (min-width: 767px) {
  #menu-toggle:checked ~ ul {
    display: flex;
    flex-direction: row;
    position: static;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    background-color: transparent;
    justify-content: flex-end;
  }

  nav ul li {
    margin-right: 10px;
  }

  /* Navigation links */
  nav ul a {
    color: #797979;
    transition: all 0.3s ease;
    font-size: 20px;
  }
}
